
.hikari-loading-container {
    font-family: '"Montserrat", sans-serif';
    font-weight: 900;
    background: '#000';
    overflow: 'hidden';
    width: '100vw';
    height: '100vh';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    margin: 0;
}

.pov {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.die {
    width: 400px;
    height: 55px;
    padding-bottom: 9px;
    perspective: 999px;
}
.cube {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}
